<clr-datagrid>
  <clr-dg-column>User ID</clr-dg-column>
  <clr-dg-column>Username</clr-dg-column>
  <clr-dg-column>Password</clr-dg-column>
  <clr-dg-column>Fname</clr-dg-column>
  <clr-dg-column>Lname</clr-dg-column>
  <clr-dg-column>#</clr-dg-column>

  <clr-dg-row *ngFor="let user of users">
    <clr-dg-cell>{{user.id}}</clr-dg-cell>
    <clr-dg-cell>{{user.username}}</clr-dg-cell>
    <clr-dg-cell>{{user.password}}</clr-dg-cell>
    <clr-dg-cell>{{user.fname}}</clr-dg-cell>
    <clr-dg-cell>{{user.lname}}</clr-dg-cell>
    <clr-dg-cell></clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>{{users.length}} รายการ</clr-dg-footer>
</clr-datagrid>
