<!-- <h1>Hello, {{ title }}</h1>

<input type="text" [(ngModel)]="a">
+
<input type="text" [(ngModel)]="b">
<button class="btn btn-success" (click)="addNumber()">=</button>
<input type="text" [(ngModel)]="c">
{{ a }} + {{ b }} = {{ +a + +b }}
<hr>

<ul>
  <li *ngFor="let item of fruits">{{ item }}</li>
</ul>
<hr>

<table>
  <tr>
    <th>ID</th>
    <th>NAME</th>
  </tr>
  <tr *ngFor="let item of users">
    <td>{{ item.id }}</td>
    <td>{{ item.fullname }}</td>
  </tr>
</table> -->

<router-outlet></router-outlet>
